/* places */

.place-w3 {
    padding: 0 .5em;
}

.team-img {
    min-height: 330px;
    background-size: cover;
}

.team-img-1 {
    background: url(../../../assets/img/p1.jpg) no-repeat center;
    background-size: cover;
}

.team-img-2 {
    background: url(../../../assets/img/p2.jpg) no-repeat center;
    background-size: cover;
}

.team-img-3 {
    background: url(../../../assets/img/p3.jpg) no-repeat center;
    background-size: cover;
}

.team-img-4 {
    background: url(../../../assets/img/p4.jpg) no-repeat center;
    background-size: cover;
}

.team-content {
    padding: 3em 2em 0;
}

.team-meta {
    color: #eee;
    font-size: 13px;
    margin-top: 10px;
}
.place-card{
    transition: all .2s ease-in-out;
}
.place-card:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 5px 0px rgba(158,152,158,1);
}

/* //places */