<!-- footer -->
  <footer class="py-5">
    <div class="container py-xl-4 py-lg-3">
        <div class="row footer-grids">
            <div class="col-lg-2 col-6 footer-grid">
                <h3 class="mb-sm-4 mb-3 pb-lg-3">Home</h3>
                <ul class="list-unstyled">
                    <li>
                        <a routerLink="home">Index</a>
                    </li>
                    <li>
                        <a routerLink="home">About Us</a>
                    </li>
                    <li>
                        <a routerLink="home">Services</a>
                    </li>
                    <li>
                        <a routerLink="home">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-6 footer-grid">
                <h3 class="mb-sm-4 mb-3 pb-lg-3"> Company</h3>
                <ul class="list-unstyled">
                    <li>
                        <a routerLink="properties" >Find a Property</a>
                    </li>
                    <li>
                        <a routerLink="properties">Popular Places</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-6 footer-grid footer-contact mt-lg-0 mt-4">
                <h3 class="mb-sm-4 mb-3 pb-lg-3"> Contact Us</h3>
                <ul class="list-unstyled">
                    <li>
                        +01(24) 8543 8088
                    </li>
                    <li>
                        <a href="mailto:info@example.com">info@example.com</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-6 footer-grid">
                <h3 class="mb-sm-4 mb-3 pb-lg-3">Shop</h3>
                <ul class="list-unstyled">
                    <li>
                        <a routerLink="properties">On sale</a>
                    </li>
                    <li>
                        <a routerLink="properties">Buy property</a>
                    </li>
                    <li>
                        <a routerLink="properties">Rent property</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 footer-grid mt-lg-0 mt-4">
                <div class="footer-logo">
                    <h2 class="text-lg-center text-center">
                        <a class="logo text-wh font-weight-bold" routerLink="home" fragment="home"><span
                                class="text-bl">L</span>and</a>
                    </h2>
                </div>
            </div>
        </div>
    </div>
  <!-- //footer -->
  <!-- copyright -->
  <div class="copyright-w3ls py-4">
    <div class="container">
        <div class="row">
            <!-- copyright -->
            <p class="col-lg-8 copy-right-grids text-wh text-lg-left text-center mt-lg-2">© 2019 Land. All
                Rights Reserved | Design by
                <a href="https://w3layouts.com/" target="_blank">W3layouts</a>
            </p>
            <!-- //copyright -->
            <!-- social icons -->
            <div class="col-lg-4 w3social-icons text-lg-right text-center mt-lg-0 mt-3">
                <ul id="social-media">
                     <li *ngFor='let item of SocialItems' class="pl-2">
                        <a href="{{ item.href }}" class="rounded-circle">
                            <span class="fab {{ item.icon }}"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- //social icons -->
        </div>
    </div>
  </div>
  <!-- //copyright -->
  <!-- move top icon -->
  <a (click)="goToTop()" class="move-top text-center">
    <span class="fa fa-angle-double-up" aria-hidden="true"></span>
  </a>
</footer>