/* contact */

.contact {
    background: url(../../../assets/img/bg4.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}

.contact_grid_right input[type="text"],
.contact_grid_right input[type="email"],
.contact_grid_right textarea {
    outline: none;
    padding: 15px 15px;
    font-size: 14px;
    color: #000;
    background: #fff;
    letter-spacing: 1px;
    border: none;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.contact_grid_right textarea {
    min-height: 110px;
    resize: none;
    width: 100%;
}

.contact_grid_right button {
    outline: none;
    padding: 15px;
    font-size: 14px;
    color: #fff;
    background: #ff6b6b;
    border: none;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    font-weight: 600;
    cursor: pointer;
}

/* //contact */

/* inner banner */
.inner-banner-w3ls {
    background: url(../../../assets/img/bg4.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    position: relative;
    z-index: 1;
}