<div class="container">
    <div id="property-card-holder" class="row mt-5">
        <div *ngFor="let item of Properties" class="col-xl-4 col-lg-4 col-md-6 mt-3">
            <span class="image-block">
                <a [routerLink]="['/properties', item.id]" data-gal="prettyPhoto[gallery]">
                    <img class="w-100" src="../../../assets/img/{{ item.img }}" alt="{{ item.location.street.number }} {{ item.location.street.name }}">
                </a>
            </span>
            <div class="property-info-list pl-3 pr-3">
                <div>
                    <h4 class="title pt-3">
                        {{ item.location.street.number }} {{ item.location.street.name }}
                    </h4>
                    <div class="location mt-2 mb-2">
                        <i class="fas fa-map-marker-alt"></i> {{ item.location.city }}, {{ item.location.country }}, {{ item.date | date:'longDate'  }}
                    </div>
                    <ul class="facilities-list clearfix row">
                        <li class="mt-2 mb-2 col-6">
                            <i class="fas fa-bed"></i> {{ item.rooms }} {{ "Bedroom" | plural:item.rooms }} 
                        </li>
                        <li class="mt-2 mb-2 col-6">
                            <i class="fas fa-adjust"></i> {{ item.status }}
                        </li>
                        <li class="mt-2 mb-2 col-6">
                            <i class="far fa-building"></i> {{ item.type }}
                        </li>
                        <li class="mt-2 mb-2 col-6">
                            <i class="fas fa-dollar-sign"></i> ${{ item.price | dotNumber }}
                        </li>
                    </ul>
                </div>
                <div class="footer-properties d-flex justify-content-between pb-2">
                    <span>
                        <i class="fa fa-user mr-2 black"></i> {{ item.owner.firstName }} {{ item.owner.lastName }}
                    </span>
                </div>
            </div>
        </div>
        <p *ngIf="Properties.length == 0" class="text-center w-100">There are no properties with current filter.</p>
    </div>
</div>
