<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-8 mt-5 mb-5">
            <form action="#" method="#" [formGroup]="form" (ngSubmit)="onSubmit()">
                <div>
                    <ng-container *ngIf="!isEditMode; else editProp">
                        <h1 class="text-center m-3">Create property</h1>
                    </ng-container>
                    <ng-template #editProp>
                        <h1 class="text-center m-3">Edit property</h1>
                    </ng-template>

                    <input type="hidden" class="form-control" name="propertyId" id="propertyId" formControlName="propertyId" [@valid]="form.get('propertyId')?.valid" aria-describedby="text">
                    
                    <div class="form-group">
                        <label for="streetName">Street name</label>
                        <input type="text" class="form-control" name="streetName" id="streetName" formControlName="streetName" [@valid]="form.get('streetName')?.valid" aria-describedby="text" placeholder="Street name">
                        <small *ngIf="!form.get('streetName')?.valid" [ngStyle]="{'color':'red'}" class="form-text text-muted">Minimum 5 characters, maximum 50</small>
                    </div>
                    <div class="form-group">
                        <label for="streetNumber">Street number</label>
                        <input type="text" class="form-control" name="streetNumber" id="streetNumber" formControlName="streetNumber" [@valid]="form.get('streetNumber')?.valid" aria-describedby="text" placeholder="Street number">
                        <small *ngIf="!form.get('streetNumber')?.valid" [ngStyle]="{'color':'red'}" class="form-text text-muted">Field is required,  maximum 50</small>
                    </div>
                    <div class="form-group">
                        <label for="location" name="location">Location</label>
                        <select class="form-control" formControlName="location" [@valid]="form.get('location')?.valid" name="location">
                            <option value="">Select location</option>
                            <option *ngFor="let location of Locations;" value="{{location.id}}">{{location.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="status">Status</label>
                        <select class="form-control" formControlName="status" [@valid]="form.get('status')?.valid" name="status">
                            <option value="">Select status</option>
                            <option *ngFor="let status of Statuses;" value="{{status.id}}">{{status.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="owner">Owner</label>
                        <select class="form-control" formControlName="owner" [@valid]="form.get('owner')?.valid" name="owner">
                            <option value="">Select owner</option>
                            <option *ngFor="let owner of Owners;" value="{{owner.id}}">{{owner.firstName}} {{owner.lastName}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="title">Price</label>
                        <input type="number" class="form-control" id="price" formControlName="price" aria-describedby="text" name="price" [@valid]="form.get('price')?.valid" placeholder="Price">
                        <small *ngIf="!form.get('price')?.valid" [ngStyle]="{'color':'red'}" class="form-text text-muted">Minimum 100 as a value, maximum 1.000.000</small>
                    </div>
                    <div class="form-group">
                        <label for="type">Type</label>
                        <select formControlName="type" class="form-control" [@valid]="form.get('type')?.valid" name="type">
                            <option value="">Select type</option>
                            <option *ngFor="let type of Types;" value="{{type.id}}">{{type.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="rooms">Rooms</label>
                        <input type="number" formControlName="rooms" class="form-control" id="rooms" name="rooms" [@valid]="form.get('rooms')?.valid" aria-describedby="text" placeholder="Rooms">
                        <small *ngIf="!form.get('rooms')?.valid" [ngStyle]="{'color':'red'}" class="form-text text-muted">Minimum 1, maximum 10</small>
                    </div>

                    <ng-container>
                        <button (click)="onSubmitPropertyForm()" type="submit" class="btn btn-success">Submit</button>
                    </ng-container>
                </div>
            </form>
        </div>
    </div>
</div>
