<section class="w3ls-bnrbtm py-5" id="about">
<div class="container py-xl-5 py-lg-3">
    <h3 class="title-w3 mb-md-5 mb-4 text-center text-bl font-weight-bold">Welcome To Our <span>Land
            Site</span></h3>
    <div class="row">
        <div class="col-lg-6 text-center">
            <img src="../../assets/img/about.jpg" alt="about" class="img-fluid" />
        </div>
        <div class="col-lg-6 pr-xl-5 mt-xl-4 mt-lg-0 mt-4">
            <h3 class="title-sub mb-4">{{ Title }}</h3>
            <p *ngFor='let item of WelcomeItems' class="sub-para pt-4 mt-4 border-top">{{ item.text }}</p>
        </div>
    </div>
</div>
</section>