  <!-- banner -->
  <div class="main-w3pvt mian-content-wthree text-center" id="home">
    <div class="container">
        <div class="style-banner mx-auto">
            <h3 class="text-wh font-weight-bold">Search and Find Your <span>Luxury</span> Homes</h3>
            <p class="mt-2 text-li" id="find">Property for sale & for rent around the world</p>
            <!-- form -->
            <div class="home-form-w3ls mt-5 pt-lg-4">     
                <a type="button" routerLink="/properties" id="findHere" class="btn btn_apt">Find Here</a>
            </div>
            <!-- //form -->
        </div>
    </div>
  </div>
  <!-- //banner -->